* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e1e1e6;
  background: #17171a;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  
}
